<div class="page-header">
  <div class="container">
    <h1>{{header}}</h1>
  </div>
</div>

<div class="container">

  <div class="row top-row">
    <div class="col-xs-12">
      <a routerLink="/courses" color="primary" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Back
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form #courseDetailsForm="ngForm">

        <div class="row">
          <div class="col-xs-8">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input
              type="text"
              matInput
              placeholder="Name"
              [(ngModel)] = "course.name" name="name">
            </mat-form-field>
          </div>

          <div class="col-xs-4">
            <mat-form-field appearance="outline">
              <mat-label>Part Funded</mat-label>
                <mat-select [(ngModel)]="partFundedList" name="isPartFunded" type="text">
                  <mat-option *ngFor="let funded of partFundedList" [value] = "partFundedList">
                    {{ funded }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                matInput type="textarea"
                placeholder="Description"
                [(ngModel)] = "course.description" name="description">
              </textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="!isNewCourse">
          <div class="col-xs-11">
            <button type="button" mat-raised-button color="primary" (click)="onUpdate()">Save</button>
          </div>
          <div class="col-xs-1">
            <button type="button" mat-raised-button color="warn" (click)="onDelete()">Delete</button>
          </div>
        </div>

        <div class="row" *ngIf="isNewCourse">
          <div class="col-xs-12">
            <button type="button" mat-raised-button color="primary" (click)="onAdd()">Add</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
